@media only screen and (min-width: 992px) {
    section > div {
        max-width: 75%;
    }

    section:last-of-type > div {
        max-width: 100%;
        margin-left: 2%;
        margin-right: 2%;
    }
}

section:last-of-type > div:nth-of-type(2) {
    height: 250px !important;
}
