body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

main {
    min-width: 100%;
    background: url("images/login/bg-mobile.jpg") no-repeat;
    background-size: cover;
    overscroll-behavior: none;
    flex: 1;
}

@media only screen and (orientation: landscape) {
    main {
        background-image: url("images/login/bg.jpg");
    }
}
