@media only screen and (min-width: 992px) {
    section > div {
        max-width: 75%;
    }

    section:last-of-type > div {
        max-width: 100%;
        margin-left: 2%;
        margin-right: 2%;
    }
}

section:last-of-type > div:last-of-type {
    height: 250px;
}

main > div:nth-of-type(2) > div:nth-child(2) {
    max-width: 600px !important;
}
