body, html {
    height: 100%;
}

body {
    overflow-x: hidden;
}

header {
    padding: 0;
    margin: 0;
}

header h1 {
    font-family: Garamond;
    font-weight: bold;
}

header img {
    width: 10%;
    height: auto;
}

main {
    margin-left: 2%;
    margin-right: 2%
}

main form > h2 {
    font-weight: 600;
}

main form > ul {
    padding: 3%;
    margin-bottom: 10%;
}

main section div i {
    color: rgb(30, 48, 80);
    height: 20px !important;
    width: 20px !important;
}

form ul, nav ul, aside ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

header {
    position:sticky;
    top: 0;
    z-index: 2;
}

main form label, main form input[type=submit] {
    margin-top: 16px;
}

main form input[type=text], main form input[type=password], main form input[type=email] {
    width: 80%;
}

aside > div:first-child > i:nth-child(2) {
    display: none;
}

nav li:last-child {
    cursor: pointer;
    padding: 6px 12px;
    float: right;
    font-size: 20px;
}

aside > div:first-child {
    display: inline-block;
    padding: 0 6px 0 4px;
    border-radius: 5px 5px 0 0;
}

@media only screen and (min-width: 992px) {
    aside > div:first-child > i:nth-child(1) {
        display: none;
    }

    aside {
        display: flex;
        flex-wrap: wrap;
    }

    aside > div:first-child {
        width: 3%;
        align-self: flex-start;
        border-radius: 5px 0 0 5px;
    }

    aside > div:nth-child(2) {
        width: 97%;
    }

    aside > div:first-child > i:nth-child(2) {
        display: inline-block;
    }
    
    nav li:last-child {
        display: none;
    }

    table {
        max-width: 90% ;
    }


}

aside > div:first-child > i, aside > div {
    background-color: #CFE2FF;
}

aside > div:first-child > i, tr > th i:hover, div > i:hover, select:hover, input[type="checkbox"], label:hover {
    cursor: pointer;
}

aside div > ul:nth-child(1) {
    margin: 0;
}

aside div > ul:nth-child(1) li {
    display: inline-block;
    width: 13.6%;
    text-align: center;
}

aside div > ul:nth-child(2) {
    padding: 10px 0;
    margin: 0;
}

aside div > ul:nth-child(2) li {
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-top: 10px;
    padding: 10px 0;
}

@media screen and (max-width:720px) {
    aside div > ul:nth-child(1) li, aside div > ul:nth-child(2) li {width: 13.1%;}
}

@media screen and (max-width: 420px) {
    aside div > ul:nth-child(1) li, aside div > ul:nth-child(2) li {width: 12.5%;}
    aside div > ul:nth-child(2) li .active {padding: 2px;}
}

@media screen and (max-width: 290px) {
    aside div > ul:nth-child(1) li, aside div > ul:nth-child(2) li {width: 12.2%;}
}

/* footer {
    position: fixed; 
    bottom: 0;
} */

div > ul > li, nav > ul > li{
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
}

form > ul > li > a {
    text-decoration: underline;
}

nav ul li:hover, .btn-deepskyblue:hover {
    background-color: #1a65d5 !important;
}

nav {
    padding: 0;
    margin: 0;
}

p {
    text-align: justify;
    padding: 1%;
}

button.dropdown-toggle::after {
  display: none !important;
}

/* TODO Passare queste tre media query in un altro foglio di stile apposito per quella pagina */
@media (min-width: 992px) {
    .w-lg-50 {
        width: 50% !important;
    }

    .w-lg-25 {
        width: 25% !important;
    }
}

@media (min-width: 992px) {
    .w-lg-55 {
        width: 55% !important;
    }
}

@media (min-width: 768px) {
    .rounded-md-start {
        border-radius: 0px !important;
    }
}

.bg-deepskyblue, .btn-deepskyblue {
    background-color: #1455B4 !important;
}

.btn-deepskyblue {
    color: white !important;
}

.bg-darkred {
    background-color: #B21212 !important;
}

thead tr:first-child th {
    border-color: #E2E3E5;
    background-color: #1455B4;
    color: white;
}

thead tr:nth-child(2) th {
    color: #1E3050 !important;
    background-color: #CFE2FF;
    border-color: #E2E3E5;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2 !important; 
}

.text-deepskyblue, .link-deepskyblue:hover {
    color: #1455B4;
}

.link-deepskyblue {
    color: #154388;
}
